*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row-reverse;
    background: var(--main-gradient);
}

:root {
    font-size: 62.5%;
    font-family: 'Arial', sans-serif;
    --outer-gradient: linear-gradient(191deg, #a259d2 -5.44%, #2B125A 52.05%, #500a5e 112.41%);
    --main-gradient: linear-gradient(191deg, #2A2A2E -5.44%, #2B125A 52.05%, #000 112.41%);
    --main-buttons: #7E64FF;
    --primary-white: #E0DEDE;
    --secondary-purple: #7E64FF;
    --primary-purple: #3C1F7B;
    --font-color: #E0DEDE;
    --input-background: rgba(58, 38, 77, 0.6);
    --border-color: #ba82ec86;
    --transparent-purple: #231444cc;
    --tasks-background: #3c1f7bb9;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: .5fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header chat"
        "task task chat"
        "task task chat";
    width: 100%;
    height: 100vh;
}

i {
    font-size: 2rem;
}

button {
    background: var(--main-buttons);
}

button:hover {
    filter: brightness(1.1);
}